
<title>Home</title>
<h1><%= link_to 'Authors', authors_path %></h1>
<br>
<% @authors.each do |author| %>
  <li>
    <h2><%= author.name %> <%= link_to 'Show', author %></h2>
      <% author.books.each do |book| %>
        <%= book.name %> <%= link_to 'Show', book %>(Купить книгу можно тут.)
        <br>
      <% end %>
  </li>
<% end %>
<hr>
<h1><%= link_to 'Books', books_path %></h1> 
<hr>
<h1><%= link_to 'List Orders', orders_list_path %></h1>(В будущем будет доступна только администраторам(Role:admin).При регистрации пользователи по defaultu Role: forum_user.)
<hr>
<h1><%= link_to 'Rails Admin', rails_admin_path %></h1>
<hr>
<h1><%= link_to 'Api Doc', swagger_path %></h1>  
<hr>


