
    <h4>Client id:<%= @order.user.id %></h4>
    <hr>
    <h4><%= @order.user.email %></h4>
    <hr>
    <h4><%= @order.book.name %></h4>
    <hr>
    <h4><%= image_tag(@order.book.image) %> %</h4>
    <hr>
    <h4><%= @order.book.description_book %></h4>
    <hr>
    <h4><%= @order.book.price %></h4>
    <hr>
    <%= link_to "Accept", accept_order_path(@order, 'yes') %> |
    <%= link_to "Reject", accept_order_path(@order, 'no') %>