<p id="notice"><%= notice %></p>
  <strong>Name:</strong>
  <%= @book.name %>
  <hr>
  <strong>Image:</strong>
  <%= image_tag(@book.image) %>
  <hr>
  <strong>Status:</strong>
  <%= @book.status %>
  <hr>
  <strong>Vendor code:</strong>
  <%= @book.vendor_code %>
  <hr>
  <strong>Weight:</strong>
  <%= @book.weight %>
  <hr>
  <strong>Price:</strong>
  <%= @book.price %>
  <hr>
  <strong>Series:</strong>
  <%= @book.series %>
  <hr>
  <strong>Subjects:</strong>
  <%= @book.subjects %>
  <hr>
  <strong>Limit age:</strong>
  <%= @book.limit_age %>
  <hr>
  <strong>Time status:</strong>
  <%= @book.time_status %>
  <hr>
  <strong>Description product:</strong>
  <%= @book.description_product.html_safe %>
  <hr>
  <strong>Description book:</strong>
  <%= @book.description_book.html_safe %>
  <hr>

<%= link_to 'Buy Book', buy_book_path %>

<%= link_to 'Back', books_path %>
