<% count = 0 %>
<%if !@orders.any? %>
<h5 class="well"> No orders. </h5>
<% end %>
<% @orders.each do |order|%>
    <span><%= count += 1 %></span>
    <h4><%= order.user.email %></h4>
    <h4><%= order.book.name %></h4>
    <%= link_to "Descry", descry_order_path(order) %> |
    <%= link_to "Accept", accept_order_path(order,'yes') %> |
    <%= link_to "Reject", accept_order_path(order,'no') %>
<% end %>